
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn không được quyền truy cập vào trang này vui lòng trở về trang chủ @Html.ActionLink("Trở Về","Index","Home",null,null)</h2>


