

<div class="top_nav_right">
    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
        <div data-view-id="header_user_shortcut_cart" class="Userstyle__CartItem-sc-6e6am-13 gjPwhU"><a href="/Cart/WatchCart"><div class="Userstyle__Item-sc-6e6am-1 dFYIFY"><i class="fa fa-shopping-cart" aria-hidden="true" style="margin-right:12px"></i><span class="Userstyle__ItemText-sc-6e6am-2 gGRKbG"> Giỏ hàng<span class="Userstyle__ItemCartQty-sc-6e6am-4 bDWZEC">@ViewBag.totalCount  </span></span></div></a></div>
    </div>
</div>
